@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/* Header and logo*/
body{
    font-family: sans-serif;
    text-align: center;
}/*
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.wrapper p{
    margin: 1.5%;
}
header{
    width: 100%;
    height: 80px;
    background-color: #c0392b; 
}
.logo{
    height: 10%;
    width: 30%;
    float: left;
    text-align: left;
    line-height: 80px;
    margin-left: 5%;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    letter-spacing: 4px;
}
nav{
    float: right;
    line-height: 80px;
}
nav a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 23px;
    color: beige;
    padding: 36px;
    text-align: center;
}

nav a:hover{
    color: black;
}*/
.menu_bar{
    position: fixed;
    background-color: #c0392b;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.logo a{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    letter-spacing: 4px;
}
.menu_bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.menu_bar ul li{
    padding: 5px 15px;
    position: relative;
}
.menu_bar ul li a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: beige;
    transition:all 0.2s ;
}
.menu_bar ul li a:hover{
   
    color: black;
}
.fs-caret-down{
    height: 2px;
    width: 1px;
    color: rgb(255, 255, 255);
    
}

.dropdown_menu{
    display: none;
}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    background-color: #c0392b;
}
.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 10px;
}
.menu_bar ul li:hover .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}
.dropdown_menu2{
    display: none;
}
.menu_bar ul li:hover .dropdown_menu2{
    display: block;
    position: absolute;
    left: 0;
    background-color: #c0392b;
}
.menu_bar ul li:hover .dropdown_menu2 ul{
    display: block;
    margin: 10px;
}
.menu_bar ul li:hover .dropdown_menu2 ul li{
    width: 150px;
    padding: 10px;
}
/* Content*/
.content-area{
    width: 100%;
    background-color: white;
    top: 80px;
    line-height: 4vh;
}
.content-area h2{
    font-size: 40px;
    margin: 30px 0;
    padding-top: 100px;
    letter-spacing: 4px;
    font-family: "Antino", sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-area   .intro-para{
    padding: 4vh 0;
    margin: 3vh 5vw 6vh;
    line-height: 4vh;
    text-align: justify;
    width: 80vw;
    font-size: 17px;
}
img{
    height: 50vh;
    width: 30vw;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6vh 0 6vh;
}
.container1 h3{
    padding: 5vh 0;
    font-weight: 700;
    font-size: 30px;
    font-family: "Antino", sans-serif;
    letter-spacing: 2px;
}
.container1 .architects-text p{
    width: 30vw;
    text-align: justify;
}
.container1 .interior-designer p{
    width: 30vw;
    text-align: justify;

}
.container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6vh 0 6vh;
}
.container2 h3{
    padding: 5vh 0;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Antino", sans-serif;
}
.container2 .management p{
    width: 30vw;
    text-align: justify;

}
.container2 .security p{
    width: 30vw;
    text-align: justify;

}
/*Footer*/
footer{
    height: 45vh;
    background-color: rgb(16, 16, 16);
}
.footer{
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
.footer h4{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    color: #c0392b;
}
.footer .about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}
.footer .about-us a{
    text-decoration: none;
    color: rgb(137, 135, 135);
}
.footer .about-us a:hover{
    color: white;
}
.footer .quick-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}
.footer .quick-link a{
    text-decoration: none;
    color: rgb(137, 135, 135);
}
.footer .quick-link a:hover{
    color: white;
}
.footer .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vh;
    max-width: 30vw;
}
.footer .contact-us p{
    align-items: flex-start;
}
.footer .contact-us h4{
    padding-top: 6vh;
}
.footer .contact-us a{
    text-decoration: none;
    color: rgb(137, 135, 135);
    text-align: left;
}
.footer .contact-us a:hover{
    color: white;
}
.footer .sm-icons{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
.copyright{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.copyright p{
    color: rgb(137, 135, 135);
}
.content-area .copyright p{
    padding: 0;
}